{% extends '::one-column.html.twig' %}

{% block main_content %}
    <div class="col-md-12 col-lg-push-3 col-lg-6">
        <h1>{{ 'reset_password.request'|trans }}</h1>

        {% if errors is not null %}
            {% for error in errors %}
                <div class="alert alert-danger">
                    {{ ('error.' ~ error)|trans }}
                </div>
            {% endfor %}
        {% endif %}

        {{ form_errors(form) }}

        <form id="request_reset_password" method="POST" action="{{ path('reset_password_request') }}">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form_widget(form) }}

                    <hr />

                    <button class="request-reset-password btn btn-primary" type="submit">{{ 'actions.request_reset_password'|trans }}</button>
                </div>
            </div>

        </form>
    </div>
{% endblock main_content %}
