{% if errors is not null %}
    {% for error in errors %}
        <div class="alert alert-danger">
            {{ ('error.' ~ error)|trans }}
        </div>
    {% endfor %}
{% endif %}

{{ form_errors(form) }}

<form id="page" method="POST" action="{{ route }}" novalidate>
    {{ form_row(form.url) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content, {attr: {class: 'editor'}}) }}

    <div role="tabpanel">

        <ul class="nav nav-tabs" role="tablist">
            {% for locale, translationForm in form.translations %}
                <li role="presentation" class="{{ loop.index0 == 0 ? 'active' : ''}}">
                    <a href="#{{ locale }}" role="tab" data-toggle="tab">{{ ('locale.' ~ locale )|trans }}</a>
                </li>
            {% endfor %}
        </ul>

        <div class="tab-content">
        {% for locale, translationForm in form.translations %}
                <div role="tabpanel" class="tab-pane {{ loop.index0 == 0 ? 'active' : ''}}" id="{{ locale }}">
                    {{ form_row(translationForm.url) }}
                    {{ form_row(translationForm.title) }}
                    {{ form_row(translationForm.content, {attr: {class: 'editor'}}) }}
                </div>
        {% endfor %}
        </div>

    </div>

    <div class="form-actions">
        {{ form_widget(form.save) }}
        {{ form_widget(form.save_and_close) }}

        {{ form_rest(form) }}
    </div>

</form>

<script>
    $(function() {
        $('.editor').tinymce({
            theme: 'modern',
            menubar: false
        });
    });
</script>